{% extends "plantilla.html" %}

{% block titulo %} Login IGP {% endblock %}

{% block contenido %}

    <div class="card">
        <div class="card-header">
            <a
                name=""
                id=""
                class="btn btn-primary"
                href="{% url 'crear_cliente' %}"
                role="button"
                >Agregar Cliente</a
            >
        </div>   
        
        <div class="card-body">
            <h4 class="card-title">ITEMS Colombia</h4>
            
            <div class="table-responsive">
                <table class="table table-secondary text-center align-middle">
                    <thead>
                        <tr>
                            <th scope="col">Id</th>
                            <th scope="col">NIT.</th>
                            <th scope="col">Nombre de Edificio</th>
                            <th scope="col">Dirección Edificio</th>
                            <th scope="col">Teléfono Admón.</th>
                            <th scope="col">Correo Admón</th>
                            <th scope="col">Acciones</th>
                        </tr>
                    </thead>
                    <tbody>

                        {% for cliente in usuarios %}

                            <tr class="">
                                <td scope="row">{{cliente.id}}</td>
                                <td>{{cliente.nit}}</td>
                                <td>{{cliente.nombreEdificio}}</td>
                                <td>{{cliente.dirEdificio}}</td>
                                <td>{{cliente.telAdmon}}</td>
                                <td>{{cliente.correoAdmon}}</td>
                                <td>
                                    <a
                                        name=""
                                        id=""
                                        class="btn btn-secondary"
                                        href="{% url 'editar_usuario' cliente.id %}"
                                        role="button"
                                        >Editar</a
                                    >
                                    |
                                    <a
                                        name=""
                                        id=""
                                        class="btn btn-dark sombra-boton"
                                        href="{% url 'borrar_usuario' cliente.id %}"
                                        role="button"   
                                        >Borrar</a
                                    >
                                </td>
                            </tr>

                        {% endfor %}

                    </tbody>
                </table>
            </div>
            

        </div>
        <div class="card-footer text-muted">© 2024 - Creado por: Proyecto Área 51 - All Rights Reserved </div>
    </div>

{% endblock %}