<form envtype="multipart/form-data" method="post">
    {% csrf_token %}
    {% for campo in prodForm %}   

        <div class="mb-3">
            <label for="" class="form-label">{{ campo.label }}</label>
            {{ campo }}
        </div>
        
        <div class="mb-3"></div>
            <label for="" class="form-label">{{ campo.label }}</label>
            {%if campo.field.widget.input_type == 'file' and campo.value %}
            <br>
            <img src="{{MEDIA_URL}}/img/{{ campo.value}}" alt="" width="80">
            {% endif %}
            <input
                type="{{ campo.field.widget.input.input_type }}"
                class="form-control"
                name="{{ campo.label }}"
                id=""
                aria-describedby="helpId"
                placeholder="Nombre"
                value="{{ campo.value|default:'' }}"
            />
        </div>   
    {% endfor %}

    <input
        name=""
        id=""
        class="btn btn-success"
        type="submit"
        value="Enviar información"
    />

    <a
        name=""
        id=""
        class="btn btn-primary"
        href="{%url 'productos' %}"
        role="button"
        >Cancelar</a
    >
    
    

</form>